<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">FAQs</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-card-header>
  <ion-card-title class="ion-text-center">How to login ?</ion-card-title>
  <ion-card-subtitle class="ion-text-center">User must register first before login</ion-card-subtitle>
</ion-card-header>

<ion-card-header>
  <ion-card-title class="ion-text-center">How to register ?</ion-card-title>
  <ion-card-subtitle class="ion-text-center">User can register at the first page</ion-card-subtitle>
</ion-card-header>

<ion-card-header>
  <ion-card-title class="ion-text-center">How to order ?</ion-card-title>
  <ion-card-subtitle class="ion-text-center">User can order at the home page</ion-card-subtitle>
</ion-card-header>

<ion-card-header>
  <ion-card-title class="ion-text-center">How to contact us ?</ion-card-title>
  <ion-card-subtitle class="ion-text-center">User can contact us at contact section</ion-card-subtitle>
</ion-card-header>


</ion-content>
