<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-card-title class="ion-text-center">  About </ion-card-title>
  <ion-card-subtitle class="ion-text-center">This application for users to buy chocolate around Malaysia. Customer can buy as many as customer want. The chocolate are very cheap if customer using ChocoBay. The service that Chocobay provide is want to make customer satisfied.</ion-card-subtitle>


</ion-content>
