<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Programme</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-header>
      <ion-toolbar>
        <h4 class="ion-text-center">DIPLOMA</h4>
      </ion-toolbar>
    </ion-header>  
    </ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/CC.png" />
      </ion-avatar>
      <ion-label>
        <ion-router-link href="bk101">
      <h2>Coporate Communication</h2>
    </ion-router-link>
      <h3>BK101</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/cs.jpg" />
      </ion-avatar>
      <ion-label>
      <h2>Computer Science</h2>
      <h3>CC101</h3>
      </ion-label>
    </ion-item>


    <ion-list>
      <ion-header>
        <ion-toolbar>
          <h4 class="ion-text-center">DEGREE</h4>
        </ion-toolbar>
      </ion-header>  
      </ion-list>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/cyber.jpg" />
        </ion-avatar>
        <ion-label>
        <h2>Cyber Security</h2>
        <h3>CT206</h3>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/bs.jpg" />
        </ion-avatar>
        <ion-label>
        <h2>Business Computing</h2>
        <h3>CT203</h3>
        </ion-label>
      </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">copyright@kuptm</ion-title>
  </ion-toolbar>
</ion-footer>